<!-- From example: https://github.com/pirobot/rbx1 -->
<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="/move-base-configs/blind/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="/move-base-configs/blind/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="/move-base-configs/blind/config/local_costmap_params.yaml" command="load" />
        <rosparam file="/move-base-configs/blind/config/global_costmap_params.yaml" command="load" />
        <rosparam file="/move-base-configs/blind/config/base_local_planner_params.yaml" command="load" />
        <remap from="cmd_vel" to="/zumo/differential_drive/cmd_vel" />
    </node>

</launch>