<launch>
  <arg name="use_tls" default="false" />
  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
    <rosparam command="load" file="/mqtt-bridge-configs/mqtt_bridge_params.yaml" />
    <rosparam if="$(arg use_tls)" command="load" ns="mqtt" file="/mqtt-bridge-configs/tls_params.yaml" />
  </node>
</launch>
