<launch>
  <arg name="robot_name" value="zumo" />
  <arg name="ticks_meter" value="8000" />
  <arg name="base_width" value="0.085" />
  <arg name="robot_description" value="/differential-drive-configs/description.urdf" />

  <group ns="$(arg robot_name)">

    <param name="robot_description" textfile="$(arg robot_description)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <rosparam param="publish_frequency">5</rosparam>
    </node>

    <group ns="differential_drive">

      <group ns="wheels">
        <group ns="left">
          <node pkg="differential_drive" type="pid_velocity.py" name="pid" required="true">
            <remap from="wheel" to="/$(arg robot_name)/wheels/left/encoder/ticks" />
            <remap from="wheel_vel" to="pid/current_vel" />
            <remap from="wheel_vtarget" to="/$(arg robot_name)/wheels/left/motor/cmd_effort" />
            <!--TODO: Implement move_base-->
            <!--<remap from="motor_cmd" to="pid/effort" />-->
            <remap from="motor_cmd" to="/$(arg robot_name)/wheels/left/motor/cmd_effort/trash" />
          </node>
          <node name="dynparam" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters pid">
            <rosparam param="Kp">359</rosparam>
            <rosparam param="Ki">659</rosparam>
            <rosparam param="Kd">2</rosparam>
            <rosparam param="out_min">-400</rosparam>
            <rosparam param="out_max">400</rosparam>
            <rosparam param="rate">5</rosparam>
            <rosparam param="timeout_ticks">4</rosparam>
            <rosparam param="rolling_pts">5</rosparam>
            <param name="ticks_meter" value="$(arg ticks_meter)" />
          </node>
        </group>

        <group ns="right">
          <node pkg="differential_drive" type="pid_velocity.py" name="pid" required="true">
            <remap from="wheel" to="/$(arg robot_name)/wheels/right/encoder/ticks" />
            <remap from="wheel_vel" to="pid/current_vel" />
            <remap from="wheel_vtarget" to="/$(arg robot_name)/wheels/right/motor/cmd_effort" />
            <!--TODO: Implement move_base-->
            <!--<remap from="motor_cmd" to="pid/effort" />-->
            <remap from="motor_cmd" to="/$(arg robot_name)/wheels/right/motor/cmd_effort/trash" />
          </node>
          <node name="dynparam" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters pid">
            <rosparam param="Kp">359</rosparam>
            <rosparam param="Ki">659</rosparam>
            <rosparam param="Kd">2</rosparam>
            <rosparam param="out_min">-400</rosparam>
            <rosparam param="out_max">400</rosparam>
            <rosparam param="rate">10</rosparam>
            <rosparam param="timeout_ticks">10</rosparam>
            <rosparam param="rolling_pts">5</rosparam>
            <param name="ticks_meter" value="$(arg ticks_meter)" />
          </node>
        </group>
      </group>

      <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen" required="true">
        <remap from="twist" to="cmd_vel" />
        <param name="base_width" value="$(arg base_width)" />
        <remap from="rwheel_vtarget" to="/$(arg robot_name)/wheels/right/motor/cmd_effort" />
        <remap from="lwheel_vtarget" to="/$(arg robot_name)/wheels/left/motor/cmd_effort" />
      </node>

      <!-- diff_tf.py requires param ticks_meter to be a sibling of itself -->
      <param name="ticks_meter" value="$(arg ticks_meter)" />
      <node pkg="differential_drive" type="diff_tf.py" name="diff_tf">
        <rosparam param="rate">5</rosparam>
        <param name="base_width" value="$(arg base_width)" />
        <remap from="rwheel" to="/$(arg robot_name)/wheels/right/encoder/ticks" />
        <remap from="lwheel" to="/$(arg robot_name)/wheels/left/encoder/ticks" />
      </node>
    </group>
  </group>
</launch>